extends template
block body
    h1 Join or Create a Room

    ul#rooms
        each room in rooms
            li
                a(href="/rooms/" + room.id)= room.name

    form.form.form-inline(action="/rooms" method="POST")
        .control-group
           input.form-control(type="text" name="room[name]" placeholder="New Room Name")

        .control-group
            input.form-control(type="password" name="room[password]")

        .control-group
            input.form-control.btn.btn-primary(type="submit" value="Create Room")
