canvas#drawing-area {
    border: 2px solid grey;
    border-radius: 4em;
}

canvas#preview {
    border: 1px solid lightgrey;
    margin-top: 1em;
}

#tool-pane {
    position: fixed;
    z-index: 1000;
    left: -2px;
    border: 2px solid grey;
    border-radius: 0 2em 2em 0;
    height: 40em;
    width: 200px;
}

h2 {
    font-variant-caps: small-caps;
}

#line-color-picker {
    margin-top: 1em;
    clear: both;
}